*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #F0F4F9;
}
.header {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: white;
    display: flex;

}
.logo {
    height: auto;
    width: 250px;
    padding: 5px;
}
.logo img {
    height: fit-content;
    background-color: white;

}
.importantlink {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
    background-color: white;
    overflow: auto;
}
.importantlink a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bolder;
    background-color: transparent;
}
.importantlink a:hover {
    color: red;
}
.profile {
    height: 125px;
    width: 80%;
    background-color: white;
    margin-top: 20px;
    margin-left: 10%;
    border-radius: 10px;
    border-left: 5px solid red;
}

#main-profile {
    height: 100px;
    width: 100px;
}

.image-profile-div {
    background-color: transparent;
}
